* {
box-sizing: border-box;
}

*:focus {
	outline: none;
}
body {
font-family: "Comic Sans MS", cursive, sans-serif;
background-color: #0d98ba;
padding: 50px;
line-height: 25px;
}
.login {
margin: 20px auto;
width: 300px;
font-family: "Comic Sans MS", cursive, sans-serif;
}
.login-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px;
font-family: "Comic Sans MS", cursive, sans-serif;

}

.app-title {
text-align: center;
color: #777;
font-family: "Comic Sans MS", cursive, sans-serif;
}

.app-head {
text-align: center;
color: #ffffff;
font-size: 250%;
font-family: "Comic Sans MS", cursive, sans-serif;
}

.login-form {
text-align: center;
font-family: "Comic Sans MS", cursive, sans-serif;
}
.control-group {
margin-bottom: 10px;
}

input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
font-family: "Comic Sans MS", cursive, sans-serif;
}

input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #0d98ba;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #0d98ba;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
	margin-top: 12px;
}

.logo {
	text-align: center;
	color: #ffffff;
	font-size: 250%;
	background: url(../images/logo-icon.png) no-repeat 0px 0px;
	 background-position: center;
}
p.small {
    line-height: 70%;
}

.nav-text {
	vertical-align:-webkit-baseline-middle;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

